@import url(./fonts.css);
@import url(./components.css);

* {
  font-family: 'Zen Kaku Gothic New', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

:root {
  --darker-bg-color-rgb: 30, 31, 34;
  --primary-bg-color-rgb: 49, 51, 56;
  --primary-txt-color-rgb: 242, 243, 245;
  --secondary-bg-color-rgb: 46, 48, 53;
  --drag-height: 2rem;
  --action-bar-height: 4rem;

  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  overflow: hidden;
  margin: 0;
}

#app {
  font-size: 1.3rem;
  min-height: 100vh;
  background: rgb(var(--primary-bg-color-rgb));
  color: rgb(var(--primary-txt-color-rgb));
  border-top: 0;
}